.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .toolsPage {
    flex: 1;
    margin-left: 150px; /* Adjust this value to match the width of the left menu */  
    overflow: auto;
  }

  .toolsIframe {
    width: 100%;
    height: calc(100vh - 75px); /* Adjust height to account for padding */
    border: none;
  }